[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
psycopg = {extras = ["binary"], version = "*"}
pandas = "*"
sentence-transformers = "*"
pinecone = "*"
langchain = "*"
streamlit = "*"
httpx = "*"
python-dotenv = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.12"
